body {
    background-color: white;
    margin: 0;
    padding: 90px 20px 0;
    box-sizing: border-box;
    /* Esto es un comentario */
}
header {
    position: fixed;
    background-color: #000267;   
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

aside {
    position: fixed;
    background-color: bisque;   
    top: 90px;
    left: 0;
    bottom: 20px;
    width: 20%;
}

section {
    overflow-y: scroll;
    position: fixed;
    background-color: aquamarine;   
    top: 90px;
    left: 20%;
    bottom: 20px;
    width: 80%;
}

footer {
    position: fixed;
    background-color: aquamarine;   
    left: 0;
    bottom: 0;
    width: 80%;
    height: 20px;
    text-align: center;
    color: white;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-link{
    color: white; 
    text-decoration: none;
}

.informacion {
    display: flex;
    justify-content: center;
    padding: 25px;
    
    
}

.columna1{
    padding: 25px;
    margin: 0 45px;
    text-align: center;
    max-width: 200px;
}

.columna2{
    padding: 25px;
    margin: 0 45px;
    text-align: center;
    max-width: 200px;
}

.columna3{
    padding: 25px;
    margin: 0 45px;
    text-align: center;
    max-width: 200px;
}

.columna4{
    padding: 25px;
    margin: 0 45px;
    text-align: center;
    max-width: 200px;
}

.centrar{
    text-align: center;
    padding: 25px;
}

centrar2{
    text-align: left;
    
}

.prueba{
    justify-content: left;
}

.tama単o18{
    font-size: 18px;
}

.tama単o35{
    padding: 25px;
    text-align: center;
    font-size: 35px;
}

.QS-columna1{
    padding: 25px;
    margin: 0 45px;
    text-align: left;
    
}

.QS-columna2{
    padding: 25px;
    margin: 0 15px;
    text-align: center;
    max-width: 1000px;
}

.informacion2 {
    display: flex;
    padding: 25px;
}

.tama単o26{
    text-align: justify;
    font-size: 26px;
    max-width: 525px;
}

.espacio{
    font-size: 25px;
}

.espacio2{
    font-size: 15px;
}

.tama単o22{
    text-align: justify;
    font-size: 22px;
    max-width: 400px;
}

.izquierda{
    margin-left: -320px;
}

.ColoAmarillo{
    color: #F9D744;
}